@using System.Data;
@using CsvDB.Models


@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h3>Import </h3>
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <tr>
                    <td>


                        <input type="file" accept=".csv" name="upload" />
                        <br>
                        <input type="submit" value="Загрузить" />
                        

                    </td>
                </tr>

            </table>

        </div>


        <div class="col-lg-6">
            <table class="table table-striped">

                @if (ViewBag.Header != null)
                {
                    <tr>
                        <td>
                            <h4>Оригинал</h4>
                        </td>
                        <td>
                            <h4>Страндарт</h4>
                        </td>
                    </tr>
                    foreach (var head in ViewBag.Header)
                    {
                        <tr>
                            <td>
                                @head
                            </td>
                            <td>
                                <div class="col-md-3">
                                    <select class="dropdown-toggle" id="mapSelect" name="mapSelect">
                                        <option value="8" selected="NoMapped">NoMapped</option>
                                        <option value="0">SKU</option>
                                        <option value="1">Brand</option>
                                        <option value="2">Price</option>
                                        <option value="3">Weight</option>
                                        <option value="4">Feature</option>
                                        <option value="5">Product parameter</option>
                                        <option value="7">Ignore</option>
                                    </select>
                                </div>
                            </td>
                         

                        </tr>
                    }

                    <input id="Submit1" type="submit" value="submit" />
                }

            </table>

        </div>
    </div>
    @ViewData["ErrorData"]
}

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var oldV;
            $('.dropdown-toggle').focus(function () {

                oldV = $(this).val();
                $('#currentSel').val(oldV);


            });


            $('.dropdown-toggle').change(function () {

                var newV = $(this).val();
                $('.dropdown-toggle').not(this).each(function () {
                    if ($(this).val() == newV)
                        $(this).val(oldV);
                });


                $(this).blur();
            });
        });

    </script>*@


